<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686319268068-mjub25fuutsatnd1k7fmrh04mpcsmfop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686319268068-mjub25fuutsatnd1k7fmrh04mpcsmfop</string>
	<key>API_KEY</key>
	<string>AIzaSyCXG0vp_8qCFAE_BBdGpj3rcH0yU7vLf3o</string>
	<key>GCM_SENDER_ID</key>
	<string>686319268068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seniorproject.AeroPlan</string>
	<key>PROJECT_ID</key>
	<string>aeroplan-bf548</string>
	<key>STORAGE_BUCKET</key>
	<string>aeroplan-bf548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686319268068:ios:86b95be9a0af764a417cf1</string>
	<key>DATABASE_URL</key>
	<string>https://aeroplan-bf548-default-rtdb.firebaseio.com</string>
</dict>
</plist>